.IndexView {
    margin: auto;
    margin-top: 355px;
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(65, 63, 63);
}

article.Second-content__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    height: fit-content;
    justify-content: space-between;
}

.Catch-sentence__title {
    color: var(--main-color-900);
    margin-bottom: 1rem;
    text-align: justify;
}

div.First-content__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article.Catch-sentence__box {
    padding-top: 2rem;
    box-sizing: border-box;
    width: 68%;
}

.Catch-sentence__description {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.Catch-sentence__description p {
    width: 70%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: justify;
}

.Catch-sentence__description figure {
    width: 30%;
}

.Catch-sentence__description figure img {
    width: 100%;
    object-fit: cover;
}

.Catch-sentence__description:nth-child(2n+1) figure {
    order: 1;
}

.Catch-sentence__description:nth-child(2n+1) p {
    order: 2;
}