.DropDown {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}