.IndexView {
    margin: auto;
    margin-top: 355px;
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(65, 63, 63);
    box-sizing: border-box;
}

article.Second-content__container {
    padding: 1rem;
}

div.Second-content__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-between;
    margin-top: 3rem;
}

.Introduction-sentence__title {
    color: var(--main-color-900);
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 1.5rem;
}

div.First-content__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article.Introduction-sentence__box {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    width: 68%;
}

.Introduction-sentence__description {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.Introduction-sentence__description p {
    width: 70%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: justify;
}

.Introduction-sentence__description figure {
    width: 30%;
    margin: 0;
}

.Introduction-sentence__description figure img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.Introduction-sentence__description:nth-child(2n+1) figure {
    order: 1;
}

.Introduction-sentence__description:nth-child(2n+1) p {
    order: 2;
}

.Second-content__title {
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
}

/*
.Second-content__title::before,
.Second-content__title::after {
    content: '~';
}*/

.Third-content__container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {

    .IndexView {
        width: 100%;
        margin: 0;
        margin-top: 290px;
    }

    div.First-content__container {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    article.Introduction-sentence__box {
        width: 100%;
        order: 1;
    }

    .Introduction-sentence__title {
        font-size: 1.2rem;
        text-align: center;
    }

    .Introduction-sentence__description {
        flex-direction: column;
    }

    .Introduction-sentence__description:nth-child(2n+1) p {
        order: 0;
    }

    .Introduction-sentence__description p,
    .Introduction-sentence__description figure {
        width: 100%;
    }

    div.Second-content__cards {
        flex-direction: column;
    }

    .Second-content__title {
        font-size: 1.2rem;
    }
}