.SideNav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.351);
    overflow-x: hidden;
    box-sizing: border-box;
}

.SideNav.close {
    display: none;
}

.SideNav__content {
    width: 30%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    transition: 0.5s;
    padding: 1rem;
    padding-top: 2.5rem;
    box-sizing: border-box;
    background-color: var(--main-color);
    animation: translate 0.3s ease-in-out;
}

.SideNave__close {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1002;
}

.SideNave__close svg {
    width: 1.2rem;
    height: 1.2rem;
}

@keyframes translate {
    from {
        right: -75%;
    }

    to {
        right: 0;
    }

}

@media screen and (max-width: 768px) {
    .SideNav__content {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .SideNav__content {
        width: 75%;
    }
}