.LogInForm {
    background-color: var(--lightpink-color);
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem 2rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.LogInForm ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.LogInForm ul li {
    list-style: none;
    text-align: center;
    font-weight: bolder;
    color: var(--main-color);
    border-bottom: solid var(--main-color) 1px;
    cursor: pointer;
    font-family: var(--title-font-family);
}

.LogInForm ul li.active {
    border-bottom: solid var(--main-color) 4px;
}

.form-menu {
    height: 2rem;
    border-bottom: solid white 1px;
}

.LogInForm label {
    color: var(--main-color);
    font-weight: 600;
}

.LogInForm .login-title {
    color: var(--main-color);
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    font-family: var(--title-font-family);
    text-transform: uppercase;
}

.LogInForm input[type='text'],
.LogInForm input[type='password'],
.LogInForm input[type='email'],
.LogInForm input[type='number'] {
    border: 0;
    border-bottom: solid var(--main-color) 1px;
    outline: 0;
    background-color: var(--lightpink-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
}

.LogInForm input[type='text']:focus,
.LogInForm input[type='password']:focus,
.LogInForm input[type='email']:focus,
.LogInForm input[type='number']:focus {
    border-bottom: solid var(--main-color) 2px;
    background-color: white;
}

.form-password-forgot {
    width: fit-content;
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
}

.LogInForm input[type='submit'] {
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0;
    cursor: pointer;
}

.LogInForm .form-footer {
    text-align: right;
}

form.hide {
    display: none;
}

form.display {
    display: block;
}

*:disabled {
    background-color: rgba(177, 164, 164, 0.518) !important;
    color: white !important;
    opacity: 1;
    cursor: not-allowed !important;
    transform: all ease-in-out 1s;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--lightpink-color);
    border-bottom-color: var(--main-color-700);
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}