<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p>Bonjour, <span th:text="${firstname}">firstname</span> <span th:text="${lastname}">lastname</span>!</p>
        <br/><p>Votre mise à jour de mot de passe sur le site <b>FMC Haïti</b> à bien été prise en compte.</p>
        <p>Dorénavant, vous pouvez vous <a th:href="@{${frontEndURL} + '#login'}">authentifier</a> avec votre nouveau mot de passe.</p>
	    <p><i><b>Note :</b>Ne divulguez votre mot de passe sous aucun pretexte. En cas de doute sur sa confidentialité, changez le immédiatement.</I></P>
	    <p>A très vite sur le site <a th:href="@{${frontEndURL} + '#login'}">FMC Haïti</a></p>
        <p>Cordialement, </p>
        <br/><p><em>Association FMC Haïti</em></p>
    </body>
</html>