.Footer {
  width: 100%;
  color: white;
  height: 8vh;
  text-align: center;
  background: var(--main-color);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}

.Footer-menu {
  display: flex;
  flex-direction: row;
}

.Footer-menu li {
  margin-left: 2rem;
  list-style: none;
}

.Footer-menu li a {
  color: white !important;
}