.Form {}

.form-footer {
    text-align: right;
}

.form-title {
    color: rgb(206, 97, 115);
    ;
    text-align: center;
    /*font-family: var(--title-font-family);*/
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.form-title svg {
    height: 0.8rem;
    width: 0.8rem;
}

form label {
    color: var(--main-color);
    font-weight: 600;
    width: 100%;
    display: block;
}

*:disabled {
    background-color: rgba(177, 164, 164, 0.518) !important;
    color: white !important;
    opacity: 1;
    cursor: not-allowed !important;
    transform: all ease-in-out 1s;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--lightpink-color);
    border-bottom-color: var(--main-color-700);
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='number'],
textarea,
select,
option {
    border: 0;
    border-bottom: solid var(--main-color-300) 1px;
    outline: 0;
    background-color: var(--lightpink-color);
    padding: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
}

form input[type='text']:focus,
form input[type='password']:focus,
form input[type='email']:focus,
form input[type='number']:focus,
textarea:focus {
    border-bottom: solid var(--main-color-300) 2px;
    background-color: white;
}

form input[type='submit'] {
    background-color: var(--main-color);
    color: white;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: 0;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.form-buttons {
    display: flex;
    flex-direction: row;
}

.form-buttons button.active {
    background-color: var(--main-color);
    background-color: rgb(206, 97, 115);
    color: white;
}

.head-form-button {
    color: rgb(206, 97, 115);
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    width: 50%;
    background-color: white;
    border: solid rgb(206, 97, 115) 1px;
    cursor: pointer;
}


.form-link {
    width: fit-content;
    color: rgb(206, 97, 115);
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
}

.footer-form-link {
    width: 100%;
    text-align: center;
}


form.hide {
    display: none;
}

form.display {
    display: block;
}

.input-row {
    position: relative;
}

.input-row svg {
    position: absolute;
    right: 0;
    top: 0.8rem;
    color: var(--main-color);
    color: rgb(206, 97, 115);
}

.text-center {
    text-align: center;
}