.Sidebar {
    width: 30%;
}

.IndentificationForms {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: dotted var(--main-color) 1px;
}

.IndentificationForms ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.IndentificationForms ul li {
    list-style: none;
    text-align: center;
    font-weight: bolder;
    color: var(--main-color);
    border-bottom: solid var(--main-color) 1px;
    cursor: pointer;
    font-family: var(--title-font-family);
}

.IndentificationForms ul li.active {
    border-bottom: solid var(--main-color) 2px;
}

.form-menu {
    height: 2rem;
    border-bottom: solid white 1px;
}

.form-link {
    width: fit-content;
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
}

.head-form-link {
    color: rgb(149, 221, 46);
    text-align: center;
    width: 100%;
    font-weight: 600;
}

form.hide {
    display: none;
}

form.display {
    display: block;
}