.ContactForm {
    background-color: var(--lightpink-color);
    margin: auto;
    box-sizing: border-box;
    padding: 1rem 2rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 40rem;
}